<!DOCTYPE html>
<html>

<head>
    <title>My card game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="card" onclick="rotateCard(this)">
        <!--The content of your card -->
        Yes
    </div>

    <script>
        function rotateCard(card) {
            if (card.classList.contains('is-flipped')) {
                card.classList.remove('is-flipped');
            } else {
                card.classList.add('is-flipped');
            }
        }
    </script>
    <div class="card">card 1</div>
    <div class="card">card 2</div>
    <div class="card">card 3</div>
</body>

</html>