<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' script-src: 'self' 'unsafe-inline'">
    <style>
        body {
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
        }

        form input {
            margin-bottom: 10px;
        }

        form button {
            padding: 10px;
        }
    </style>
</head>
<body>
<%- include('top-bar') %> <!-- Including the top bar -->
<h1>Login</h1>
<form action="/login" method="POST" id="loginForm">
    <input type="text" id="username" placeholder="Username" required>
    <input type="password" id="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<script type="text/javascript" src="/login.js"></script>
</body>
</html>
