<html lang="en">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <body>
        <h1>This is a title</h1>
        <p>This is a paragraph</p>

    </body>
    <script>
        const thisIsAFunction = () => {
            console.log('test')
        }
    </script>
</html>