<style>
    .top-bar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: linear-gradient(to right, blue, white, red);
    }

    .top-bar .logo {
        display: flex;
        align-items: center;
    }

    .top-bar .login-register {
        display: flex;
        align-items: center;
    }
    .name-app {
        color: white;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="top-bar">
    <div class="name-app">
        <h2><a href="/">French's Uno</a></h2>
    </div>
    <div class="login-register">
        <a href="/register">Register</a> / <a href="/login">Login</a> / <a href="#" id="logout">Logout</a>
    </div>
    <script type="text/javascript" src="/navbar.js"></script>

</div>

